.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 30px;
  background-color: transparent;
}

.navbar-left-link {
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: auto; 
  height: auto;
  z-index: 1;
}

.navbar-left img {
  width: 100%; 
  height: auto; 
  max-width: 300px;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-right a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
