<div class="container-navbar">
  <a routerLink="/" class="navbar-left-link">
    <div class="navbar-left">
      <span class="navbar-smiley">
        <i class="fa fa-smile"></i>
      </span>
      <span class="name">SANJANA JADHAV</span>
    </div>
  </a>
  <div class="navbar-right">
    <nav>
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/projects">projects</a></li>
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/contact">contact</a></li>
      </ul>
    </nav>
  </div>
</div>
