.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navbar-left-link {
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-right a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
